<h3>Lista de cervezas</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
            <td><img width="90" class="img-thumbnail" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name }}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span class="badge badge-warning" *ngIf="beer.stock==0">SIN STOCK</span></td>
            <td>
                <div class="input-group" *ngIf="beer.stock">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary btn-sm" (click)="downQuantity(beer)">-</button>
                        </div>
                        <input type="text" class="text-center" [(ngModel)]="beer.quantity" (keyup)="changeQuantity($event, beer)">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" (click)="upQuantity(beer)">+</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>